In [6]:
# sandeep 
# how to find a greaterts number
try:
    num1 = eval(input("Enter a number 1: "))
    num2 = eval(input("Enter a number 2: "))

    if num1 == num2:
        print(f"Both the numbers {num1} and {num2} are equal")
    elif num1 > num2:
        print(f"{num1} is greater than {num2}")
    elif num1 < num2:
        print(f"{num1} is lesser than {num2}")

except Exception as e:
    print(f"You have encountered with an exception: {e}")

Enter a number 1:  34#3
Enter a number 2:  34#4

Both the numbers 34 and 34 are equal

In [11]:
eval('34#344')  # spl charcters you can handle with int

34

In [15]:
str1='the telephone number is 123456'
# i want 123456
# idea: split karo
# then when you split ==== list 

# iterate each letter apply isdigit if it is
# true then then keep in empty string
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

123456

- Baisc representations

- inbuilt functions

    - type

    - print

    - min

    - max

    - len

    - sum

    - reveresd

    - sorted

- concatenation

- index

- in

- difference between index and in

- mutable vs immutable

- slice

- Methods

**Basic Representations**

- strings elements is in quotes

- List elements is in square brackets

In [16]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [18]:
type(list1)
# for strings ===== str
# we will say strings ==== but type is str
# we will say list ====== type also list

list

In [19]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [20]:
list3=[1,2,3,'A','B','C']
list3

[1, 2, 3, 'A', 'B', 'C']

In [32]:
list1=[1,2,3,4]
list2=['A','B','C']
list3=[1,2,3,'A','B','C']
list4=[10,20,30,'Apple','Banana','Cherry',True,False,10.5,20+30j]
list5=[10,10,10]
list6=[10,20,30,['Apple','Banana']]
list7=[[10]]
name='python'
list8=[name]
list9=[_]
list9

[[[[[[[['python']]]]]]]]

In [33]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
# perform all inbuilt functions
# len max min sum sorted reversed

In [36]:
len(list1),len(list2),len(list3)

(5, 4, 9)

In [39]:
list2=['Apple','APple','Cherry','banana']
#       65,110   6580    97     67       98
min(list1),min(list2)

(2, 'APple')

In [40]:
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
list1=[10,20,2,5,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,2,5,75,'Apple','apple','Cherry','banana']
max(list1),max(list2)
# max(list3)

(75, 'banana')

In [44]:
list1=[10,20,2,5,75]
sum(list1)

112

In [45]:
list2=['Apple','apple','Cherry','banana']
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
sorted(list1)

[2, 5, 10, 20, 75]

In [47]:
sorted(list2)

['Apple', 'Cherry', 'apple', 'banana']

In [48]:
sorted(list3) # fail

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
reversed(list1)

In [50]:
# method-1 : apply list
list(reversed(list1))

[75, 5, 2, 20, 10]

In [51]:
# method-2: iterate through for loop
for i in reversed(list1):
    print(i)

75
5
2
20
10

In [52]:
sorted(list1),sorted(list1,reverse=True)

([2, 5, 10, 20, 75], [75, 20, 10, 5, 2])

In [ ]:
# In the interview 
# list1=[10,20,2,5,75]
# Q1) sort the list with out sorted function
# Q2) Find the max value with out max function
# Q3) Find the min value with out min function
# Q4) Reverse the elemnts with out revrsed function
# Q5) Sum the elements with out using sum function
# Q6) Find the second max and second min

**concatenation**

In [53]:
list1=[1,2,3,4]
list2=['A','B','C','D']

list1+list2

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [55]:
print('python'*2)
print('python'+'python')

pythonpython
pythonpython

In [56]:
print(list1+list1)
print(list1*2)

[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list1*list1  # Fail different error
list1-list1  # Fail unsupposrted operand
list1/lit1   # Fail unsupp

**index**

In [58]:
# -6  -5  -4   -3    -2     -1
# 10  20  30   'A'   'B'   'C'
# 0   1    2    3     4     5
list1=[10,20,30,'A','B','C']
list1[0],list1[-6]

(10, 10)

In [ ]:
# Postive index of 10 is 0
# negative index of 10 is -6
# postive index is 0 and negative index is -6 for 10

In [63]:
list1=[10]
list1[0]
# inside list how many elemnts are there: 1

10

In [66]:
list1=[[10]]
# inside list how many elemnts are there:1
# [10]
list1[0][0]

10

In [68]:
list1=[[10,20]]  # package
len(list1)

1

In [69]:
list1=[[10,20]]
list2=[10,20]
len(list1),len(list2)

(1, 2)

In [70]:
list1=[10,[20]]
# i want 20
len(list1)

2

In [72]:
list1=[10,[20]]
list1[1][0]

20

In [74]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [75]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1

['A', ['Apple', 'B', ['Banana'], 'C', ['Cherry']]]

In [78]:
list1[1][4][0]

'Cherry'

In [101]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
len(list1) # two elements are there 0,1
len(list1[1]) # three elememts 0,1,2
len(list1[1][2]) # three elements 0,1,2
len(list1[1][2][2]) # three elemnts 0,1,2
list1[1][2][2][2][0]

'Dragon fruite'

In [105]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [110]:
list1=['Orange',['Nagpur',['MH',['Shivaji',['Shamabji',['Viky']]]]]]
list1[1][1][1][1][1][0]

'Viky'

In [120]:
list1=[[[[[[[[['Apple']]]]]]]]]
list1[0][0][0][0][0][0][0][0][0]

'Apple'